flows.json
[{"id":"2a9e9c.fe4df164","type":"tab","label":"Flow 1.0","disabled":false,"info":""},{"id":"b351bda2.df9dc","type":"ui_form","z":"2a9e9c.fe4df164","name":"","label":"Enter the values:","group":"8925e5c1.b7cd58","order":1,"width":0,"height":0,"options":[{"label":"Avg Heartbeat / Min","value":"h","type":"number","required":true,"rows":null},{"label":"Palpitations / Day","value":"p","type":"number","required":true,"rows":null},{"label":"Cholesterol","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"b","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null},{"label":"Exercise /week(min)","value":"e","type":"number","required":true,"rows":null}],"formValue":{"h":"","p":"","c":"","b":"","a":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":140,"wires":[["14a5fe7.9bd9602"]]},{"id":"a106b3ac.faada","type":"debug","z":"2a9e9c.fe4df164","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"5f8341a1.672b3","type":"ui_dropdown","z":"2a9e9c.fe4df164","name":"","label":"Sex","tooltip":"","place":"Select option","group":"8925e5c1.b7cd58","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"F","type":"str"},{"label":"Male","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":220,"wires":[["bf6987a4.b83138"]]},{"id":"15375776.e8dce9","type":"ui_dropdown","z":"2a9e9c.fe4df164","name":"","label":"Is a Smoker in last 5 Years?","tooltip":"","place":"Select option","group":"8925e5c1.b7cd58","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":340,"wires":[["67e90d23.272ad4"]]},{"id":"39db26e7.a44faa","type":"ui_dropdown","z":"2a9e9c.fe4df164","name":"","label":"Have a Family History?","tooltip":"","place":"Select option","group":"8925e5c1.b7cd58","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":160,"y":280,"wires":[["b9a60e93.d45a4"]]},{"id":"87a7c812.1ad978","type":"debug","z":"2a9e9c.fe4df164","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"a921828b.6cc3c","type":"debug","z":"2a9e9c.fe4df164","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":280,"wires":[]},{"id":"3db3d423.6a937c","type":"debug","z":"2a9e9c.fe4df164","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"14a5fe7.9bd9602","type":"function","z":"2a9e9c.fe4df164","name":"global variables for form node","func":"global.set(\"heartbeat\",msg.payload.h)\nglobal.set(\"palpitations\",msg.payload.p)\nglobal.set(\"cholesterol\",msg.payload.c)\nglobal.set(\"bmi\",msg.payload.b)\nglobal.set(\"age\",msg.payload.a)\nglobal.set(\"exercise\",msg.payload.e)\nvar apikey = \"e69plhPAwXwqEHbn0o4Oouxz9GESMgrDNhRGHWMRBy93\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["a106b3ac.faada","ce993b97.fa0a48"]]},{"id":"bf6987a4.b83138","type":"function","z":"2a9e9c.fe4df164","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["87a7c812.1ad978"]]},{"id":"b9a60e93.d45a4","type":"function","z":"2a9e9c.fe4df164","name":"family","func":"global.set(\"family\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":280,"wires":[["a921828b.6cc3c"]]},{"id":"67e90d23.272ad4","type":"function","z":"2a9e9c.fe4df164","name":"smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["3db3d423.6a937c"]]},{"id":"ce993b97.fa0a48","type":"http request","z":"2a9e9c.fe4df164","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":80,"wires":[["6549aecc.8c5f6","1edd83c2.9c4c5c"]]},{"id":"6549aecc.8c5f6","type":"debug","z":"2a9e9c.fe4df164","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"1edd83c2.9c4c5c","type":"function","z":"2a9e9c.fe4df164","name":"","func":"var heb = global.get(\"heartbeat\")\nvar pal = global.get(\"palpitations\")\nvar cho = global.get(\"cholesterol\")\nvar bm = global.get(\"bmi\")\nvar ag = global.get(\"age\")\nvar sx = global.get(\"sex\")\nvar fm = global.get(\"family\")\nvar sk = global.get(\"smoker\")\nvar ex = global.get(\"exercise\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"heartbeat\",\"palpitations\",\"cholesterol\",\"bmi\",\"age\",\"sex\",\"family\",\"smoker\",\"exercise\"]],\"values\":[[heb,pal,cho,bm,ag,sx,fm,sk,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":80,"wires":[["52e12483.47a76c"]]},{"id":"52e12483.47a76c","type":"http request","z":"2a9e9c.fe4df164","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/8dbb3f9e-f766-4c87-8e23-983eaef0b7ca/predictions?version=2021-06-27","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":80,"wires":[["1f999b42.f90c35","a194bd53.30f52"]]},{"id":"1f999b42.f90c35","type":"debug","z":"2a9e9c.fe4df164","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":140,"wires":[]},{"id":"a194bd53.30f52","type":"function","z":"2a9e9c.fe4df164","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":80,"wires":[["2c254550.11502a","90b8ff3a.c9c6d"]]},{"id":"2c254550.11502a","type":"debug","z":"2a9e9c.fe4df164","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"90b8ff3a.c9c6d","type":"ui_text","z":"2a9e9c.fe4df164","group":"8925e5c1.b7cd58","order":5,"width":0,"height":0,"name":"","label":"Heart Failure:","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":80,"wires":[]},{"id":"8925e5c1.b7cd58","type":"ui_group","name":"Form","tab":"b842d019.aaf8b","order":1,"disp":true,"width":10,"collapse":false},{"id":"b842d019.aaf8b","type":"ui_tab","name":"Heart Failure Prediction","icon":"dashboard","disabled":false,"hidden":false}]